@import "@/styles/variables.scss";

.issues {
  color: $font-color;
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
  width: 40rem;
  height: 40rem;
  overflow-y: scroll;
  border-left: 1px solid $second-font-color;
  border-bottom: 1px solid $second-font-color;
}