$primary-color: #f9f9f9; //background color
$second-color: #3993ff; //Buttons and cards color
$btn-dark-color: #2b3a67;
$table-color: #d7e9ff;
$font-color: #1a2935;
$second-font-color: #a8aeb2;
$shadow-grey: #999999;
$card-active: #60dabf;
