@import "@/styles/variables.scss";

.listCards {
  display: flex;
  justify-content: center;
  justify-self: end;
  margin-bottom: 2rem;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  width: 8rem;
  height: 12rem;
  cursor: pointer;
  margin-right: 1rem;
  border-radius: 0.2rem;
  background-color: $primary-color;
  box-shadow: 1px 1px 2px 1px $shadow-grey;
  padding: 0.5rem;
  align-items: center;

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    box-shadow: 1px 1px 5px 2px $shadow-grey;
  }
}

.active {
  background-color: $card-active;

  &::after {
    content: url(../../assets/images/checked.svg);
    position: absolute;
    width: 4rem;
    z-index: 10;
    top: -0.7rem;
    right: -0.7rem;
  }
}

.score {
  font-size: 5rem;
}

.nameTop {
  align-self: flex-start;
}

.nameBottom {
  align-self: flex-end;
}
