@import "@/styles/variables.scss";

.home {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  min-width: calc(100vw - 80rem);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  color: $font-color;
  margin-bottom: 20px;
}
