@import "@/styles/variables.scss";

.groupBtn {
  display: flex;
  justify-content: space-around;
  margin-top: 3rem;

  .singleBtn {
    border-radius: 0.8rem;
  }

  .disabled {
    background-color: $shadow-grey;
    pointer-events: none;
  }
}

