@import "@/styles/variables.scss";

.modal {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: all 300ms;
  visibility: visible;
  background-color: $modal-dark-color;
  z-index: 10;
}

.modal_close {
  visibility: hidden;
  position: absolute;
}
