@import "@/styles/variables.scss";

.main {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: inherit;
  color: $font-color;

  .sideSection {
    width: 40rem;
  }

  .wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  
  .title {
    text-align: center;
  }
}




