@import "@/styles/variables.scss";

.main {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: inherit;
  color: $font-color;

  .leftSection {
    width: 40rem;
  }

  .rightSection {
    margin-top: 1rem;
    width: 40rem;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
  }

  .wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  
  .title {
    text-align: center;
  }
}




