@import "@/styles/variables.scss";

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: $primary-color;
  padding: 30px;
  border-radius: 5px;
}

.title {
  margin-bottom: 20px;
  color: $font-color;
  font-size: 2rem;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50rem;
  height: 240px;

  &_submit {
    background-color: $second-color;
    color: $primary-color;
    border: none;
    outline: none;
    cursor: pointer;

    &:hover {
      background-color: $second-color-light;
    }

    &:active {
      transform: scale(0.95);
      transition: transform 0.1s linear;
      border: none;
    }
  }
}
