@import "@/styles/variables.scss";

.modal {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: all 200ms;
  visibility: inherit;
  background-color: $modal-dark-color;

  &_content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: $primary-color;
    padding: 30px;
    border-radius: 5px;
  }
}

.modal_close {
  visibility: hidden;
  display: none;
}

.title {
  margin-bottom: 10px;
  color: $font-color;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50rem;
  height: 240px;

  &_submit {
    background-color: $second-color;
    color: $font-color;
    border: none;
    outline: none;

    &:hover {
      cursor: pointer;
      background-color: $second-color-light;
    }

    &:active {
      transform: scale(0.95);
      transition: transform 0.1s linear;
      border: none;
    }
  }
}
