@import "@/styles/variables.scss";

$size-admin: 2rem;

.messageWrapper {
  display: flex;
  width: calc(100% - 1rem);
  margin-left: 0.5rem;
  align-items: baseline;

  .messageText {
    margin-left: 1rem;
    max-width: 90%;
    overflow-wrap: anywhere;
  }

  .userName,
  .messageText {
    height: 100%;
  }
}

.messageWrapper:not(:first-child) {
  margin-top: 0.5rem;
}

.userName {
  &__admin {
    color: $red-color;
  }

  &__user {
    color: $second-color;
  }
}

.admin__icon {
  display: flex;
  width: $size-admin;
  height: $size-admin;
  background-image: url(~@/assets/images/admin.svg);
  background-size: cover;
  background-position-y: 0.3rem;
  margin-right: 0.4rem;
}
