.messageWrapper {
  display: flex;
  width: calc(100% - 1rem);
  margin-left: 0.5rem;
  align-items: baseline;

  .messageText {
    margin-left: 1rem;
    max-width: 90%;
    overflow-wrap: anywhere;
  }

  .userName,
  .messageText {
    height: 100%;
  }
}

.messageWrapper:not(:first-child) {
  margin-top: 0.5rem;
}

